node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
.git
.gitignore
.github
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.*
README.md
logs
*.log
dist
build
out
coverage
.nyc_output
.vscode
.idea
*.swp
*.swo
*.tmp
.tmp
.cache
.parcel-cache
.eslintcache
